@charset "UTF-8";

body {
    background-image: url('images/Login.jpg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;   /* 왼쪽 정렬 */
    align-items: center;           /* 수직 중앙 */
    height: 100vh;
}

.login-box {
	margin-left: 200px; 
    width: 450px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.25);   /* 반투명 박스 */
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    backdrop-filter: blur(3px);              /* 유리같은 효과 */

}

h2 {
    text-align: center;
    color: darkgray;
    font-size: 22px;
    margin-bottom: 25px;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row label {
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.row input {
    flex: 1;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}

.login-btn .join-btn {
    width: 100%;
    padding: 12px;
    background: #0455a4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.login-btn:hover {
    background: #0c7bda;
}

.remember {
    margin-top: 10px;
    color: white;
    font-size: 14px;
}
